pydantic-settings
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
elasticsearch<9.0.0,>=8.11.0
pydantic
pydantic[email]
websockets
beautifulsoup4
selenium
webdriver-manager
lxml
requests
aiofiles
python-multipart
httpx
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]
authlib
itsdangerous
pydub
sentence-transformers
yt-dlp
kokoro
soundfile
faster-whisper
undetected-chromedriver
boto3
